<template>
  <div class="ion-page">
    <Header :title='this.$store.getters.currentList.name'/>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-reorder-group id="reorder" disabled="false" @ionItemReorder="doReorder($event)">
          <Item
            v-for="(item,index) in this.$store.getters.currentList.items"
            :key="index"
            :item="item"
          />
        </ion-reorder-group>
      </ion-list>
    </ion-content>
    <ButtonBar />
  </div>
</template>

<script>
import Header from "../components/Header";
import Item from "../components/Item";
import ButtonBar from "../components/ButtonBar";
export default {
  name: "CurrentList",
  components: {
    Header,
    Item,
    ButtonBar
  },
  created() {},
  data() {
    return {};
  },
  computed: {},
  methods: {
    doReorder(event) {
      var currentList = this.$store.getters.currentList;
      var temp = currentList.items[event.detail.from];
      currentList.items[event.detail.from] = currentList.items[event.detail.to];
      currentList.items[event.detail.to] = temp;
      this.$store.dispatch("updateList", currentList);

      event.detail.complete();
    }
  }
};
</script>