<template>
  <div class="ion-page">
    <Header title="Mes listes"/>
    <ion-content class="ion-padding" :fullscreen="true">
      <AllLists />
    </ion-content>
    <ButtonBar/>
  </div>
</template>

<script>
import AllLists from "../components/AllLists";
import Header from "../components/Header";
import ButtonBar from "../components/ButtonBar";
export default {
  name: "home",
  components: {
    AllLists,
    Header,
    ButtonBar
  },
  mounted() {
    this.$store.dispatch("resetCurrentList");
  }
};
</script>
