<template>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-reorder-group id="reorder" disabled="false" @ionItemReorder="doReorder($event)">
            <List v-for="(list,index) in this.$store.getters.allLists" :key="index" :list="list" />
          </ion-reorder-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</template>

<script>
import List from "./List";
import jsonData from "../assets/fakeData.json";
export default {
  components: {
    List
  },
  data() {
    return {};
  },
  methods: {
    doReorder(event) {
      var allLists = this.$store.getters.allLists;
      var temp = allLists[event.detail.from];
      allLists[event.detail.from] = allLists[event.detail.to];
      allLists[event.detail.to] = temp;
      this.$store.commit("updateAllLists", allLists);

      event.detail.complete();
    }
  },
  computed: {},
  created() {
    var allLists = jsonData.AllListes;
    this.$store.commit("updateAllLists", allLists);
  }
};
</script>