<template>
  <ion-footer>
    <ion-toolbar>
      <ion-grid fixed>
        <ion-row text-center>
          <div name="notInEdit" v-if="!this.$store.getters.editState" style="width:100%">
            <ion-col>
              <ion-button v-on:click="this.backToHome" v-if="!this.$store.getters.isMainPage">Retour</ion-button>
            </ion-col>
            <ion-col>
              <ion-button @click="updateEditState(true)">Modifier</ion-button>
            </ion-col>
          </div>
          <div name="inEdit" v-else style="width:100%">
            <ion-col size="6">
              <ion-button color="medium" @click="updateEditState(false)">Annuler</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button
                @click="openAlertAddList"
                v-if="this.$store.getters.isMainPage"
                color="success"
              >Ajouter Liste</ion-button>
              <ion-button @click="openAlertAddItem" v-else color="success">Ajouter Item</ion-button>
            </ion-col>
          </div>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</template>

<script>
export default {
  components: {},
  data() {
    return {};
  },
  methods: {
    updateEditState(bool) {
      this.$store.commit("updateEditState", bool);
    },
    backToHome() {
      this.$store.commit("updateEditState", false);
      this.$store.commit("updateIsMainPage", true);
      this.$router.push({ path: "/" });
    },
    openAlertAddList() {
      return this.$ionic.alertController
        .create({
          header: "Nouvelle liste",
          inputs: [
            {
              name: "listToAdd",
              placeholder: "Nom de la liste",
              type: "string"
            }
          ],
          buttons: [
            {
              text: "Cancel",
              role: "cancel",
              cssClass: "secondary"
            },
            {
              text: "Ok",
              handler: input => {
                this.addList(input.listToAdd);
              }
            }
          ]
        })
        .then(a => a.present());
    },
    openAlertAddItem() {
      return this.$ionic.alertController
        .create({
          header: "Nouvel élément",
          inputs: [
            {
              name: "itemToAdd",
              placeholder: "nom de l'élément à ajouter",
              type: "string"
            }
          ],
          buttons: [
            {
              text: "Cancel",
              role: "cancel",
              cssClass: "secondary"
            },
            {
              text: "Ok",
              handler: input => {
                this.addItem(input.itemToAdd);
              }
            }
          ]
        })
        .then(a => a.present());
    },
    addList(nom) {
      this.$store.commit("updateEditState", false);
      this.$store.dispatch("addList", nom);
    },
    addItem(nom) {
      this.$store.commit("updateEditState", false);
      this.$store.dispatch("addItem", nom);
    }
  },
  computed: {}
};
</script>