<template>
  <ion-header>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
</template>
<script>
export default {
  props: {
    title: String,
  },
  methods: {
  }
}
</script>