<template>
  <ion-item @click="updateItem">
      <ion-grid fixed>
    <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-col>
      <ion-reorder>
        <ion-label>{{item.name}}</ion-label>
      </ion-reorder>
    </ion-col>
    <ion-col size="auto">
      <ion-checkbox float-right v-if="!this.$store.getters.editState" :checked="item.checked" color="primary"></ion-checkbox>
      <ion-button float-right v-else @click="deleteItem" color="danger">Supprimer</ion-button>
    </ion-col>
    </ion-row>
      </ion-grid>
  </ion-item>
</template>
<script>
export default {
  components: {},
  props: {
    item: {}
  },
  methods: {
    deleteItem() {
      this.$store.dispatch("deleteItemFromCurrentList", this.item.id);
    },
    updateItem() {
      this.item.checked = !this.item.checked;
      this.$store.dispatch("updateItem", this.item);
    }
  }
};
</script>