<template>
  <ion-item @click="seeList">
          <ion-grid fixed>
    <ion-row  align-items-center style="height: 100%">
    <ion-col>
      <ion-reorder>
    <ion-label>{{list.name}}</ion-label>
      </ion-reorder>
    </ion-col>
        <ion-col size="auto">
    <ion-button v-if="!this.$store.getters.editState">
         Voir
    </ion-button>
    <ion-button @click="deleteList" v-if="this.$store.getters.editState" color="danger">
         Supprimer
    </ion-button>
        </ion-col>
    </ion-row>
      </ion-grid>
  </ion-item>
</template>
<script>
export default {
  components: {},
  props: {
    list: {
      name: String,
      items: Array
    },
  },
  methods: {
    seeList: function() {
      this.$router.push({ path: "/CurrentList" });
      this.$store.commit("updateIsMainPage", false);
      this.$store.commit("changeCurrentList", this.list);

      
      
    },
    deleteList: function() {
      this.$store.dispatch("deleteList", this.list);
    }
  },
  data() {
    return {
      
    }
  }
};
</script>